ul li a {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 650;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    color: #7a7a7a;
}

/* NAVIGACIJA */

.navbar {
    position: absolute;
    width: 100%;
    background-color: #f7f7f7;
}

.navbar .navbar-brand h2 {
    color: #1e1e1e;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.navbar .navbar-brand h2 em {
    font-size: 44px;
    font-style: normal;
    color: #5A7E3F;
}

.navbar a{
    letter-spacing: 3px;
}

.navbar a:hover {
    color: #5A7E3F;
}

/* CENTRALNI SADRZAJ*/

.all-blog-posts {
    padding-top: 100px;
}

.all-blog-posts a {
    text-decoration: none;
    color: #5A7E3F;
    font-weight: 650;
}

.all-blog-posts a:hover {
    text-decoration: none;
    color: #41592E;
}

.blog-post {
    padding-top: 50px;
}

.down-content {
    padding-top: 10px;
}

/* FOOTER */

footer {
    margin-top: 100px;
    text-align: center;
    background-color: #D5C7BC;
    padding: 50px 0px;
}

footer p{
    color: #ffffff;
}

footer ul.socials{
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(250,250,250,0.4);
}

footer ul.socials a{
    text-decoration: none;
    color: #3E3E3E;
}

footer ul.socials a:hover{
    color: #5A7E3F;
}

footer ul.socials li {
    display: inline-block;
    margin-right: 30px;
}

footer ul.socials li:after {
    content: "|";
    color: #1e1e1e;
    margin-left: 30px;
}

footer ul.socials li:last-child::after {
    display: none;
}
