ul li a {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 650;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    color: #7a7a7a;
}

/* NAVIGACIJA */

.navbar {
    position: absolute;
    width: 100%;
    background-color: #f7f7f7;
}

.navbar .navbar-brand h2 {
    color: #1e1e1e;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.navbar .navbar-brand h2 em {
    font-size: 44px;
    font-style: normal;
    color: #5A7E3F;
}

.navbar a:hover {
    color: #5A7E3F;
}

/* CENTRALNI SADRZAJ*/

.down-content span {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 800;
}

.all-blog-posts {
    padding-top: 80px;
}

.all-blog-posts a {
    text-decoration: none;
}

.all-blog-posts h4 {
    color: #5A7E3F;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.all-blog-posts a:hover {
    text-decoration: none;
    color: #41592E;
}

.blog-post {
    padding-top: 50px;
}

.down-content {
    padding-top: 10px;
}



/* FOOTER */

footer {
    margin-top: 100px;
    text-align: center;
    background-color: #D5C7BC;
    padding: 50px 0px;
}

footer p{
    color: #ffffff;
}

footer ul.socials{
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(250,250,250,0.4);
}

footer ul.socials a{
    text-decoration: none;
    color: #3E3E3E;
}

footer ul.socials a:hover{
    color: #5A7E3F;
}

footer ul.socials li {
    display: inline-block;
    margin-right: 30px;
}

footer ul.socials li:after {
    content: "|";
    color: #1e1e1e;
    margin-left: 30px;
}

footer ul.socials li:last-child::after {
    display: none;
}

/*SINGLE BLOG*/

.blog-content {
    padding-top: 80px;
}

/* LOGIN FORM*/

.login,
.register {
    padding-top: 80px;
}

.sidebar-left h2, .sidebar-right h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: #20232e;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.login .login-form input,
.register .register-form input {
    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.login .login-form button,
.register .register-form button {
    display: inline-block;
    background-color: #41592E;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

.login .login-form button:hover,
.register .register-form button:hover{
    background-color: #5A7E3F;
}

.login .contact-information,
.register .contact-information{
    margin-left: 30px;
}


.login .contact-information ul li,
.register .contact-information ul li{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
